

<ion-content>


  
  <ion-grid style="height: 100%">
  <ion-card class="card-view" justify-content-center align-items-center>
    <ion-card-header>
      <ion-card-title><img src="assets/img/logo.jpeg" class="logo"></ion-card-title>
    </ion-card-header>    
    
    <h2>Login</h2>
    <ion-card-content>
        <ion-item>
            <ion-label position="floating">User ID</ion-label>
            <ion-input></ion-input>
          </ion-item>
      
          <ion-item>
              <ion-label position="floating">PIN Number</ion-label>
              <ion-input type="password"></ion-input>
          </ion-item>
          <ion-row>
              <ion-col>
                <ion-button type="submit" color="primary" expand="block" (click)="login()">Login</ion-button>
                <a [routerLink]="['/forgot-password']" class="small-text">Forgot PIN?</a>
              </ion-col>
          </ion-row>
          
    </ion-card-content>
  </ion-card>
</ion-grid>

  <div class="hero hero-waves">
    <svg id="svg2" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 30" version="1.1" preserveAspectRatio="none" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
      <path id="path6" d="m-100 1.041s61.625-4.5064 99.75 5.2333 70.594 15.391 124.5 16.312c55.25 0.9437 75.75-8.8513 75.75-8.8513v16.266h-300v-28.959z" style="fill:#019ED7;fill-opacity:.2" class="layer5"/>
      <path id="path8" d="m-100 30h300v-6.6791s-16.526 2.7112-62.25 2.3702c-58.5-0.436-97.875-12.245-153.75-15.599-55.875-3.3549-84-0.2745-84-0.2745v20.182z" style="fill:#019ED7;fill-opacity:.2" class="layer4"/>
      <path id="path10" d="m200 16.232s-24.625-5.6378-84.5-3.7495c-59.875 1.8882-74.962 15.943-144 16.562-50.75 0.455-71.5-3.7697-71.5-3.7697v4.7252h300v-13.768z" style="fill:#019ED7;fill-opacity:.2" class="layer3"/>
      <path id="path12" d="m200 1.041s-61.625-4.5064-99.75 5.2333-70.594 15.391-124.5 16.311c-55.25 0.9437-75.75-8.8513-75.75-8.8513v16.266h300v-28.959z" style="fill:#019ED7;fill-opacity:.2" class="layer2"/>
      <path id="path14" d="m-100 17.511s29.006-2.6495 75-0.6876c60.25 2.5701 81.25 11.545 150.25 11.912 55.721 0.2965 74.75-5.6414 74.75-5.6414v6.906h-300v-12.489z" style="fill:#019ED7" class="layer1"/>
  </svg>
  
  </div> 
</ion-content>
