<ion-header >
  <ion-toolbar class="toolbar-header">
    <ion-title>JFHMPL System</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 
  <ion-grid class="first-table">
    <ion-row>
        <ion-col class="dash-cola">Current Pending Amount</ion-col>
        <ion-col class="dash-col2" >
          <ion-row class="dash-col">
             <ion-col >Rs.</ion-col>
          </ion-row>
          <ion-row class="dash-col-three">
            <ion-col >370500</ion-col>
          </ion-row>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="dash-colb">Last Payment</ion-col>
      <ion-col class="dash-col2" >
        <ion-row class="dash-colc">
           <ion-col >Rs.</ion-col>
        </ion-row>
        <ion-row class="dash-col-three">
          <ion-col >10400</ion-col>
        </ion-row>
  </ion-col>
  </ion-row>
</ion-grid>





  <div id="mainContainer">
    <div class="aside">
       <div class="buttonview">
      <div class="logo"><img src="assets/img/basket.png" alt="profile-sample2" /></div> </div>
    </div> 
    <div id="buttom-content">
        <div id="header">
          <h2>Purchase History</h2> 
        </div>
    </div>
  </div>

  
  <div id="mainContainer">
    <div class="aside">
       <div class="buttonview">
      <div class="logo"><img src="assets/img/pay.png" alt="profile-sample2" /></div> </div>
    </div> 
    <div id="buttom-content">
        <div id="header">
          <h2>Payment History</h2> 
        </div>
    </div>
  </div>


</ion-content>
