<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense" class="toolbar-header">
      <ion-toolbar>
        <ion-title size="large">Dashboard</ion-title>
      </ion-toolbar>
    </ion-header>
<ion-content>

<ion-content>

 
  <ion-grid class="first-table">
    <ion-row>
        <ion-col class="dash-cola">Current Pending Amount</ion-col>
        <ion-col class="dash-col2" >
          <ion-row class="dash-col">
             <ion-col >Rs.</ion-col>
          </ion-row>
          <ion-row class="dash-col-three">
            <ion-col >370500</ion-col>
          </ion-row>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="dash-colb">Last Payment</ion-col>
      <ion-col class="dash-col2" >
        <ion-row class="dash-colc">
           <ion-col >Rs.</ion-col>
        </ion-row>
        <ion-row class="dash-col-three">
          <ion-col >10400</ion-col>
        </ion-row>
  </ion-col>
  </ion-row>
</ion-grid>


<a [routerLink]="['/purchase-history']">
  <div id="mainContainer">
    <div class="aside">
       <div class="buttonview">
      <div class="logo"><img src="assets/img/basket.png" alt="profile-sample2" /></div> </div>
    </div> 
    <div id="buttom-content">
        <div id="header">
          <h2>Purchase History</h2> 
        </div>
    </div>
  </div>
</a>
<a [routerLink]="['/payment-history']">
  <div id="mainContainer">
    <div class="aside">
       <div class="buttonview">
      <div class="logo"><img src="assets/img/pay.png" alt="profile-sample2" /></div> </div>
    </div> 
    <div id="buttom-content">
        <div id="header">
          <h2>Payment History</h2> 
        </div>
    </div>
  </div>
  </a>


</ion-content>
